@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");



.header-custom {
    font-size: 1.5rem;
}

.image-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.image.main {
    height: 75%;
    width: 75%;
}

@media (width < 430px) {
    .image-custom {
    }
    
}
.h4-custom {
    display: block;
}

.touch {
    width: 75%;
    height: 75%;
}